version: '3.8'
services:
  app:
    image: docker-springboot:latest
    ports:
      - "8080:8080"
    env_file:
      - ./.env
    depends_on:
      - redis
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"